@import '_font_color';
.about_your_product {
    padding: 3.125em;
    display: inline-block;

    .about_your_product_text {
        float: left;
        width: 50%;
    }

    h2 {
        @include h2_dark();
        margin-top: 0;
    }

    p {
        font-family: Arial;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        color: $background_dark;
        background-color: $background_white;
    }

    video {
        // background-color: $background_dark;
        float: right;
        width: 37%;
    }
    video:hover {
        cursor: pointer;
    }
}