$background_dark: #445161;
$background_white: #ffffff;
$background_grey: #f5f5f5;


@mixin h2_dark {
    font-family: Arial;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    color: $background_dark;

}

@mixin h2_white {
    font-family: Arial;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    color: $background_white;
}

@mixin h3_dark {
    color: $background_dark;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    font-family: Arial;
}