@import 'font_color';
@import 'header';
@import 'about_your_product';
@import 'dignity_product';
@import 'scrinshots';
@import 'reviews';
@import 'buy';
@import 'footer';



.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Arial;
    height: 100%;
    border: 0.5px solid $background_grey;
}